<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="setup" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AzureDemo100;Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />
    <add name="user1" connectionString="Data Source=mssql.savetodb.com;Initial Catalog=AzureDemo100;Password=Usr_2011#_Xls4168;User ID=sample01_user1"
      providerName="System.Data.SqlClient" />
    <add name="user2" connectionString="Data Source=mssql.savetodb.com;Initial Catalog=AzureDemo100;Password=Usr_2011#_Xls4168;User ID=sample01_user2"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
